body {
    margin: 0;

    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    background-color: rgb(255, 255, 255);
    display: grid;

    height: 100%;
    grid-template-columns: 250px 1fr;
}

.container:has(.sidebar.collapsed) {
    grid-template-columns: 50px 1fr;  
}
.sidebar {
    background-color: rgb(255, 251, 246);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}
.sidebar button {
    background-color: rgb(255, 251, 246);
}
.sidebar-header {
    border-bottom:  2px solid red;
    display: flex;
    justify-content: space-between;

}
.profile {
    display: flex;
    gap: 10px;
}
.profile img {
    width: 30px;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 100px;

}
.inbox, .projects {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.sidebar.collapsed {
    transform: translateX(-250%);
}
.sidebar.collapsed #close-btn {
    position: absolute;
    right: -120px;
}
.modal {
    width: 500px;
    display: none;
    z-index: 2;
    position: fixed;
    top: 150px;
    right: 500px;
    justify-content: center;
    align-items: center;
    background: rgb(209, 201, 201); /* overlay */
    z-index: 2;
    border-radius: 50px;
}
.hidden {
    display: none;
}
.add-task {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgrey;
    gap: 5px;
    border-radius: 20px;
}
.add-task input {
    border: none;
    padding: 5px;
}
#task-notes {
    height: 20px;
}
.submit-btns {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.dropdown {
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.dropdown button {
    background-color: white;
}
.close-btns {
    display: flex;
    gap: 10px;
    height: 30px;

    
}
.close-btns button {
    background-color: red;
    color: white;
    
}
.close-btns button:hover {
    background-color: red;
}
img {
    width: 20px;
}
button {
    width: 100%;
    text-align: left;
    display:  flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    border: none;
    border-radius: 10px;
}
#todo-details-modal .details{
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    gap: 5px;
    border-radius: 20px;
}
#todo-details-modal .close-btns {
    justify-self: end;
}
#project-modal .add-project{
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgrey;
    gap: 10px;
    border-radius: 20px;
}
.add-project-header {
    display: flex;
    justify-content: space-between;

}
.add-project-header button {
    background-color: white;
}
.add-project-header .close-modal {
    width: 40px;
}
#project-title {
    width: 80%;
    border: 1px solid lightgrey;
}
.details label {
    font-size: 0.9rem;
}
.add-project .close-btns {
    padding-top: 10px;
    align-self: end;
}
.sidebar-header button {  
    width: 40px;
}
#my-projects-btn {
    border-bottom: 2px solid red;
    border-radius: 0;
}
.main-content {
    background-color: rgb(255, 255, 255);
    padding: 50px 200px;
}
.main-content button {
    background-color: white;
}

.inbox-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .inbox-container p {
    margin: 0;
    font-size: 0.9rem;
    padding-bottom: 15px;
    width: 200px;
    text-align: center;
} */

.inbox-container img {
    width: 200px;
}
.task-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
.add-task-main img {
    width: 20px;
}
.add-task-main {
    display: flex;
    gap: 10px;
    padding: 10px 0px;
}
.task-container:hover, button:hover {
    background-color: rgba(246, 223, 197, 0.348);
    cursor: pointer;
}

.projects-container button {
    border-radius: 0;
    border-bottom: 1px solid lightgrey;
}

.completed-container {
    padding: 10px 0;
}
ul {

    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: italic;

}

