body {
    margin: 0;
    background-color: green;
    height: 100vh;
}
.container {
    display: grid;
    border: 2px solid red;
    height: 100%;
    grid-template-columns: 250px 1fr;
}

.container:has(.sidebar.collapsed) {
    grid-template-columns: 50px 1fr;  
}
.sidebar {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    gap: 10px;

}
.sidebar-header {
    border:  2px solid red;
    display: flex;
    justify-content: space-between;

}
.sidebar-nav {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 100px;

}
.inbox, .projects {
    display: flex;
    flex-direction: column;
}
button {
    text-align: left;
    width: 80px;
}
.main-content {
    background-color: lightgreen;
}

.sidebar.collapsed {
    transform: translateX(-150%);
}
.sidebar.collapsed #close-btn {
    position: absolute;
    right: -100px;
}
.modal {
    width: 300px;
    display: none;
    z-index: 2;
    position: fixed;
    inset: 0;              /* top:0 right:0 bottom:0 left:0 */
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5); /* overlay */
    z-index: 2;
}
.hidden {
    display: none;
}
